﻿@{
   
}
<div id="app">
    <input type="button" value="Create Permission" class="btn btn-primary" style="border-bottom-width: 0px;margin-bottom: 20px;" V-on:click="goToDet()">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Permissions</h6>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name Employee</th>
                        <th scope="col">Last Name Employee</th>
                        <th scope="col">Permission Date</th>
                        <th scope="col">Permission Type</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(permission,index) in Permissions">
                        <td>{{permission.id}}</td>
                        <td>{{permission.nameEmployee}}</td>
                        <td>{{permission.lastNameEmployee}}</td>
                        <td>{{permission.permissionDate}}</td>
                        <td>{{permission.description}}</td>
                        <td><input type="button" value="Edit" class="btn btn-success" V-on:click="goToDet(permission.id)"/></td>
                        <td><input type="button" value="Delete" class="btn btn-danger" V-on:click="showModalDelete(permission.id)" /></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="modal fade" id="" tabindex="-1" role="alert">

    </div>
</div>

        @section scripts{
            <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
            <script src="~/toastr.js/toastr.min.js"></script>
            <script src="~/sweetalert/sweetalert.min.js"></script>
            <script>
                var app = new Vue({
                    el: "#app",
                    data: {
                        Permissions: []
                    },
                    created: function () {
                        this.getPermission();
                    },
                    methods: {
                        showModalDelete: function (id) {
                            var vm = this;

                            swal({
                                title: "Are you sure?",
                                text: "Do you want to removed this permission?",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonClass: "btn-danger",
                                confirmButtonText: "Yes, delete it!",
                                cancelButtonText: "No, cancel plx!",
                                closeOnConfirm: false,
                                closeOnCancel: false,
                                buttons: {
                                    cancel: true,
                                    confirm: {
                                        text: "Yes",
                                        value: true,
                                        visible: true,
                                        className: "",
                                        closeModal: true
                                    }
                                }
                            }).then((confirmed) => {
                                if (confirmed) {
                                    vm.getDelete(id);
                                    swal("Ready","Permission removed!","success")
                                } else {
                                    swal("Cancelled", "Your permission has not been removed!", "error");
                                }
                            });

                        },
                        getPermission: function () {
                            var vm = this;

                            $.ajax({ url: "https://localhost:44395/api/Permissions", method: "GET" })
                                .done(function (data) {
                                    vm.Permissions = data;
                                })
                                .fail(function () {
                                    toastr.error("Error");
                                });
                        },
                        goToCreate: function () {
                            location.href = '/View/Home/PermissionCreate.cshtml'
                        },
                        getDelete: function (id) {
                            var vm = this;

                            $.ajax({ url: "https://localhost:44395/api/Permissions/"+id, method: "DELETE"})
                                .done(function (data) {
                                    vm.getPermission();
                                    toastr.success("Success");
                                })
                                .fail(function () {
                                    toastr.error("Error");
                                });
                        },
                        goToDet: function (id) {
                            window.location.href = '@Url.Action("PermissionDet", "Home")?id='+id;

                        }
                    }
                });
            </script>
        }
