﻿<div id="app1" class="row">
    <div class="col-md-12">
        <h3>Edit Permission</h3>
        <div class="row">
            <div class="form-group col-md-3">
                <label class="control-label">First Name</label>
                <input class="form-control" type="text" v-model="nameEmployee"/>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Last Name</label>
                <input class="form-control" type="text" v-model="lastNameEmployee"/>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Permission Date</label>
                <input class="form-control" type="date" v-model="permissionDate"/>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Permissions Type</label>
                <select class="form-control" v-model="permissionTypeId">

                    <option v-for="permissionsType in PermissionsType" v-bind:value="permissionsType.permissionTypeId">
                        {{ permissionsType.description }}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            @*<button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("", "")'"><i class="far fa-arrow-alt-circle-left"></i> Retroceder</button>*@
            <input type="button" value="Create" class="btn btn-primary " V-on:click="addPermission"/>

        </div>
    </div>
</div>



@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="~/toastr.js/toastr.min.js"></script>
    <script>
        var app1 = new Vue({
            el: "#app1",
            data: {
                PermissionsType: [],
                nameEmployee: "",
                lastNameEmployee: "",
                permissionDate: "",
                permissionTypeId:0
            },
            created: function () {
                this.getPermissionType();
            },
            methods: {
                getPermissionType: function () {
                    var vm = this;

                    $.ajax({ url: "https://localhost:44395/api/PermissionType", method: "GET" })
                        .done(function (data) {
                            vm.PermissionsType = data;
                        })
                        .fail(function () {
                            toastr.error("Error");
                        });
                },
                goToCreate: function () {
                    location.href = '/View/Home/PermissionCreate.cshtml'
                },
                addPermission: function () {
                    var vm = this;

                    var Create = {
                        nameEmployee: vm.nameEmployee,
                        lastNameEmployee: vm.lastNameEmployee,
                        permissionTypeId: vm.permissionTypeId,
                        permissionDate:vm.permissionDate
                        
                    }

                    console.log(Create);
                    $.ajax({
                        url: "https://localhost:44395/api/Permissions", method: "POST", contentType: "application/json", dataType: "json", data:JSON.stringify(Create) })
                        .done(function (data) {
                            toastr.success("Success");
                        })
                        .fail(function () {
                            toastr.error("Error");
                        }).always(function () {
                           vm.nameEmployee="",
                           vm.lastNameEmployee="",
                           vm.permissionDate="",
                           vm.permissionTypeId=""
                        });
                }
            }
        });
    </script>
}
