﻿<div id="app1" class="row">
    <div class="col-md-12">
        <h3 id="Title">{{Title}}</h3>
        <div class="row">
            <div class="form-group col-md-3">
                <label class="control-label">First Name</label>
                <input class="form-control" type="text" v-model="nameEmployee" required="required"/>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Last Name</label>
                <input class="form-control" type="text" v-model="lastNameEmployee" required="required"/>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Permission Date</label>
                <input class="form-control" type="date" v-model="permissionDate" required="required"/>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Permissions Type</label>
                <select class="form-control" v-model="permissionTypeId" required="required">

                    <option v-for="permissionsType in PermissionsType" v-bind:value="permissionsType.permissionTypeId">
                        {{ permissionsType.description }}
                    </option>
                </select>
            </div>
        </div>
        <div class="row d-flex justify-content-between" style="padding-right: 15px;padding-left: 15px">
            <button id="button" type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("", "")'"><i class="far fa-arrow-alt-circle-left"></i> Retroceder</button>

            <button type="button" class="btn btn-primary " V-on:click="validation" >{{ button.text }}</button>
        </div>
    </div>
</div>



@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="~/toastr.js/toastr.min.js"></script>
    <script src="~/moment.js/moment.js"></script>
    <script>
        var app1 = new Vue({
            el: "#app1",
            data: {
                Title: "Create Permission",

                PermissionsType: [],
                Id:0,
                nameEmployee: "",
                lastNameEmployee: "",
                permissionDate: "",
                permissionTypeId: 0,
                button: {
                    text: 'Create'
                }
            },
            created: function () {
                this.getPermissionType();

                this.Id =@(ViewBag.id);

                if (this.Id > 0) {
                    this.changeElement();
                    this.getPermission(this.Id);
                }
            },
            methods: {
                getPermissionType: function () {
                    var vm = this;

                    $.ajax({ url: "https://localhost:44395/api/PermissionType", method: "GET" })
                        .done(function (data) {
                            vm.PermissionsType = data;
                        })
                        .fail(function () {
                            toastr.error("Error");
                        });
                },
                validation: function () {
                    var vm = this;

                    if (vm.nameEmployee && vm.lastNameEmployee && vm.permissionTypeId > 0 && vm.permissionDate){
                        if (vm.Id > 0) {
                            vm.editPermission();
                            
                        } else {
                            vm.addPermission();
                        }
                    }

                    if (!vm.nameEmployee) {
                        toastr.error("The First Name Employee is required","Error");
                    }
                    if (!vm.lastNameEmployee) {
                        toastr.error("The Last Name Employee is required.", "Error");
                    }
                    if (!vm.permissionTypeId) {
                        toastr.error("The Permission Type is required.", "Error");
                    }
                    if (!vm.permissionDate) {
                        toastr.error("The date is required.", "Error");

                    }
                },
                addPermission: function () {
                    var vm = this;
                    var Create = {
                        nameEmployee: vm.nameEmployee,
                        lastNameEmployee: vm.lastNameEmployee,
                        permissionTypeId: vm.permissionTypeId,
                        permissionDate:vm.permissionDate

                    }
                    $.ajax({
                        url: "https://localhost:44395/api/Permissions", method: "POST", contentType: "application/json", dataType: "json", data:JSON.stringify(Create) })
                        .done(function (data) {
                            toastr.success("The permission was created.","Success");
                        })
                        .fail(function () {
                            toastr.error("Error");
                        }).always(function () {
                           vm.nameEmployee="",
                           vm.lastNameEmployee="",
                           vm.permissionDate="",
                           vm.permissionTypeId=""
                        });
                },
                editPermission: function () {
                    var vm = this;
                    console.log("Como");
                    var Edit = {
                        Id:vm.Id,
                        nameEmployee: vm.nameEmployee,
                        lastNameEmployee: vm.lastNameEmployee,
                        permissionTypeId: vm.permissionTypeId,
                        permissionDate: vm.permissionDate

                    }
                    $.ajax({
                        url: "https://localhost:44395/api/Permissions/"+vm.Id, method: "PUT", contentType: "application/json", dataType: "json", data: JSON.stringify(Edit)
                    })
                    .done(function (data) {
                        toastr.success("The permission was edit.", "Success");
                    })
                    .fail(function () {
                        toastr.error("Error");
                    }).always(function () {
                    window.location.href = '@Url.Action("Permission", "Home")';
                    });
                },
                getPermission: function (id) {
                    var vm = this;

                    $.ajax({ url: "https://localhost:44395/api/Permissions/" + id, method: "GET" })
                        .done(function (data) {

                                vm.nameEmployee = data.nameEmployee,
                                vm.lastNameEmployee = data.lastNameEmployee,
                                vm.permissionTypeId = data.permissionTypeId,
                                vm.permissionDate = moment(String(data.permissionDate)).format('YYYY-MM-DD')
                        })
                        .fail(function () {
                            toastr.error("Error");
                        });
                },
                changeElement: function () {
                    var vm = this;
                    vm.Title = "Edit Permission";
                    vm.button.text ="Edit"
                }
            }
        });
    </script>
}
