﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<div id="app">


    <p>{{message}}</p>

</div>


@section scripts{
    <script src="~/vue/vue.cjs.min.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            message:"Hola estamos probando"
        }
    })
</script>
}
